<div>
  <mat-grid-list cols="{{columns}}" rowHeight="{{tileHeight}}">
    <mat-grid-tile *ngFor="let tile of (tiles | async); index as i" [colspan]="tile.cols" [rowspan]="tile.rows"
      [style.background]="tile.color" [ngClass]="{'blink-me': (blinkingIndex | async) == i}">
      {{tile.text}}
    </mat-grid-tile>
  </mat-grid-list>
</div>
