.home {
    display: flex;
    flex-flow: row;
    min-height: 100%;
    justify-content: center;

}

.a {
    background-color: white;
    align-self: center;
    flex-grow:1;
    margin: 0 5rem;
    // flex-basis: 100%;
}

@media screen and (max-width: 640px) {
    .a {
      margin: 0 0.5rem !important;
    }

    .home {
        justify-content: stretch;
    }
  }

.b {
    background-color: green;
}


